body {
  margin: 0 auto;
  padding: 0;
  max-width: 1920px; }

header {
  max-width: 1535px;
  margin: 0 auto;
  height: 720px;
  background: url(../img/m-h-day.jpg);
  background-repeat: no-repeat;
  border-bottom-right-radius: 40%;
  white-space: pre-line;
  background-size: 100% 110%; }
  header p.header_heading {
    position: absolute;
    line-height: 80px;
    top: -24px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 70px;
    font-weight: bold;
    width: 540px;
    z-index: 4; }
  header p.header_text {
    position: absolute;
    font-size: 16px;
    font-family: "Hind", sans-serif;
    top: 300px;
    line-height: 24px; }
    header p.header_text::before {
      content: '';
      display: inline-block;
      background: #14A0C7;
      position: relative;
      width: 300px;
      height: 25px;
      bottom: 60px; }
  header button {
    position: absolute;
    top: 499px;
    padding: 13px 44px;
    background-color: #699900;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 1rem; }
    header button:hover {
      background: #ebdb4b;
      color: white;
      box-shadow: 0px 1px 3px #fcfcfc; }

.header-wrap, main .section_card_wrap, footer .section_card_wrap, footer .footer-wrap {
  width: 1225px;
  margin: 11px auto; }
  .header-wrap .landing-logo, main .section_card_wrap .landing-logo, footer .section_card_wrap .landing-logo, footer .footer-wrap .landing-logo {
    position: relative; }
    .header-wrap .landing-logo img, main .section_card_wrap .landing-logo img, footer .section_card_wrap .landing-logo img, footer .footer-wrap .landing-logo img {
      float: left;
      position: absolute;
      bottom: 35px; }
    .header-wrap .landing-logo p, main .section_card_wrap .landing-logo p, footer .section_card_wrap .landing-logo p, footer .footer-wrap .landing-logo p {
      font-size: 23px;
      font-family: "Hind", sans-serif;
      margin: 0;
      position: absolute;
      top: -27px;
      letter-spacing: 3px;
      left: 60px;
      font-weight: bold;
      letter-spacing: -1px; }
      .header-wrap .landing-logo p span, main .section_card_wrap .landing-logo p span, footer .section_card_wrap .landing-logo p span, footer .footer-wrap .landing-logo p span {
        font-size: 12px;
        letter-spacing: -1px;
        position: relative;
        top: 15px;
        right: 54px; }

main, footer {
  margin: 0 auto;
  max-width: 1535px;
  z-index: 2; }
  main p.section_text, footer p.section_text {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "Source Sans Pro", sans-serif;
    padding-left: 195px; }
    main p.section_text::after, footer p.section_text::after {
      content: '';
      display: inline-block;
      background: #14A0C7;
      position: relative;
      width: 190px;
      height: 16px;
      top: 5px;
      right: 210px;
      z-index: -1; }
  main .section_card_wrap, footer .section_card_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly; }
    main .section_card_wrap .section_card, footer .section_card_wrap .section_card {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 360px;
      height: 415px;
      background: #21232E;
      padding: 17px;
      border-radius: 7px;
      font-family: "Source Sans Pro", sans-serif;
      z-index: 1; }
      main .section_card_wrap .section_card:nth-child(2), footer .section_card_wrap .section_card:nth-child(2) {
        margin: 0 15px; }
      main .section_card_wrap .section_card img, footer .section_card_wrap .section_card img {
        width: 100%;
        height: 100%;
        border-radius: 7px; }
      main .section_card_wrap .section_card .section_card_heading, footer .section_card_wrap .section_card .section_card_heading {
        color: #fff;
        font-size: 23px;
        font-weight: bold;
        margin: 20px 0 10px 0; }
        main .section_card_wrap .section_card .section_card_heading span::after, footer .section_card_wrap .section_card .section_card_heading span::after {
          content: '';
          display: inline-block;
          background: #14A0C7;
          position: relative;
          width: 100%;
          height: 20%;
          bottom: 22px;
          z-index: -1; }
      main .section_card_wrap .section_card .section_card_text, footer .section_card_wrap .section_card .section_card_text {
        color: #cadae0;
        text-align: center;
        font-size: 17px;
        margin: 10px 0; }
  main .section_banner, footer .section_banner {
    max-width: 960px;
    margin: 33px auto 40px;
    position: relative;
    top: 110px;
    background: #689803;
    background: linear-gradient(45deg, #689803 10%, #2d5bd9 100%);
    z-index: 1; }
    main .section_banner .section_banner_text_wrap, footer .section_banner .section_banner_text_wrap {
      height: 145px; }
      main .section_banner .section_banner_text_wrap .section_banner_heading, footer .section_banner .section_banner_text_wrap .section_banner_heading {
        font-family: "Hind", sans-serif;
        font-size: 30px;
        font-weight: 900;
        padding: 24px 0 12px 36px;
        margin-bottom: 0; }
        main .section_banner .section_banner_text_wrap .section_banner_heading::before, footer .section_banner .section_banner_text_wrap .section_banner_heading::before {
          content: '';
          display: inline-block;
          background: #14A0C7;
          position: relative;
          width: 60px;
          height: 20px;
          left: 195px;
          top: 10px;
          z-index: -1; }
      main .section_banner .section_banner_text_wrap .section_banner_text, footer .section_banner .section_banner_text_wrap .section_banner_text {
        color: #cadae0;
        margin: 0;
        padding: 0 106px;
        font-family: "Source Sans Pro", sans-serif; }
    main .section_banner .section_banner_button, footer .section_banner .section_banner_button {
      padding: 13px 44px;
      background-color: #699900;
      color: #fff;
      border: none;
      font-weight: bold;
      font-size: 1rem;
      text-align: right;
      position: relative;
      float: right;
      bottom: 95px;
      right: 100px; }
      main .section_banner .section_banner_button:hover, footer .section_banner .section_banner_button:hover {
        background: #ebdb4b;
        color: white;
        box-shadow: 0px 1px 3px #fcfcfc; }

footer {
  background: #21232E; }
  footer .footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 300px; }
    footer .footer-wrap .footer_logo {
      width: 200px;
      flex-direction: row-reverse; }
      footer .footer-wrap .footer_logo img {
        bottom: -25px; }
      footer .footer-wrap .footer_logo p {
        font-size: 22px;
        color: #cadae0; }
    footer .footer-wrap .footer_text {
      font-size: 15px;
      color: #cadae0;
      width: 300px;
      justify-self: end;
      padding-right: 70px; }
    footer .footer-wrap .footer-cr {
      font-size: 16px;
      color: #cadae0; }
