/* Your styles go here */
#root {
    margin: 0 auto;
    text-align: center;
}
/* Danger notification styling */
.danger {
    background-color:#FF5332;
    color: #ffffff;
    display: inline-block;
    padding: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.danger-h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}
.danger-h3::after { 
    content: "\00D7";
    font-size: 25px;
    margin-left: 130px;
    cursor: pointer;
}

/* Main page */
.add-button {
    font-size: 20px;
    padding: 3px 20px;
    border-radius: 10px;
    outline: none;
}
.empty-block {
    font-weight: 500;
}

/* Add new task page */
.add-task-input,
.modify-item-input {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    padding: 0 10px;
    margin-bottom: 20px;
}
.cancel,
.save-changes {
    font-size: 20px; 
    border-radius: 10px;
}
.save-changes {
    margin-left: 53px;
}
