/* Your styles go here */
#root {
    margin: 0 auto;
    text-align: center;
}
.danger {
    background-color:#FF5332;
    color: #ffffff;
    display: inline-block;
    padding: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.danger-h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}
.danger-h3::after { 
    content: "\00D7";
    font-size: 25px;
    margin-left: 130px;
    cursor: pointer;
}
.add-button {
    font-size: 20px;
    padding: 3px 20px;
    border-radius: 10px;
}
.empty-block {
    font-weight: 500;
}
.main-page-header,
.add-task-header,
.modify-item-header {
    font-size: 2.4em;
}
.add-task-input,
.modify-item-input {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    padding: 0 10px;
    margin-bottom: 20px;
}
.cancel,
.save-changes {
    font-size: 20px; 
    border-radius: 10px;
}
.save-changes {
    margin-left: 53px;
}
ul {
    list-style-type: none;
    margin: 0 620px;
    padding: 0;
}
.action-description {
    text-decoration: none;
    height: 20px;
    padding: 5px 0;    
    font-size: 25px;
}
.list-item {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.checkbox, 
.remove-todo {
    width: 25px;
    height: 25px;
}
