* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  margin: 0 auto;
  max-width: 40%;
}
header {
  text-align: center;
  margin-top: 10%;
}
header h1 {
  color: #34B0FE;
  margin: 5% 0 1% 0;
}
.notification{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px;
  padding: 5px 0;
  background-color: #dd1313c0;
  color: #fffbfb;
  letter-spacing: 2px;
  opacity: 0;
}
header h1 span {
  text-transform: uppercase;
}
header .search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .search input {
  width: 88%;
  border: 1px solid #C8D0D8;
  border-radius: 5px;;
}
input[placeholder] {
  padding: 2%;
  font-size: 12px;
}
button {
  width: 35px;
  height: 35px;
  border-radius: 20%;
  color: #fff;
  outline: none;
  background-color: #5eb1f5;
  margin-right: 3%;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
}
header hr {
  border: 2px solid #E3F2FF;
  border-radius: 10px;
  margin: 3% 0;
}
main ul {
  list-style-type: none;
}
main ul li > * {
  display: inline-block;
}
main ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: grab;
}
main ul li .flex-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: grab;
}
main ul li:active {
  cursor: grabbing;
}
input[type="checkbox"] {
  display: none;
}
main ul li label {
  font-size: 1em;
  color: #589cc7; 
  cursor: pointer;
}
label::before {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 1px solid #C8D0D8;
  transition: 0.2s;
  border-radius: 3px;
}
input[type="checkbox"]:checked + label::before {
  background-color: #fa4545;
  content: "\292C";
  text-align: center;
  color: #eee;
  font-weight: 900;
  border-radius: 3px;
}
.material-icons.edit {
  color: #89C4F4;
  font-size: 25px;
  position: relative;
  cursor: pointer;
  margin-left: 5px;
}
.material-icons.delete {
  color: #89C4F4;
  margin-right: 2%;
  font-size: 24px;
  cursor: pointer;
}
.material-icons.delete:hover {
  animation: swing 1s;
  transform-origin: top center;
  color: #fc1111;
  transition: 0.3s;
}
.edit-todo {
  border-style: none;
  border: 1px solid #C8D0D8;
  padding: 5px 10px;
  margin-right: 7px;
  border-radius: 5px;
}
.material-icons.save {
  color: #5eb1f5;
  cursor: pointer;
  float: left;
}
@keyframes swing {
  20% {
      transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
      transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
      transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
      transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
      transform: rotate3d(0, 0, 1, 0deg);
  }
}