<header class="container card p-0">
  <div class="card-body bg-danger">
    <h2 class="text-center text-light">{{ blog_title }}</h2>
  </div>
  <nav class="navbar navbar-light bg-light p-3">
    <select (change)="changeTitle($event.target.value)" name="categories" id="categories" class="btn bg-white border">
      <option *ngFor="let type of dropdown_menu" [value]="type.value">{{type.title}}</option>
    </select>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search by the title..." aria-label="Search" (keyup)="searchByTitle($event.target.value)"/>
    </form>
    <input type="button" value="Add article" class="btn btn-primary" routerLink="create-article"/>
  </nav>
</header>

<div class="w-50 mx-auto my-4 " *ngFor="let prop of news">
  <div class="row no-gutters ">
    <div class="col-md-4">
      <img src="{{ prop.url }}" class="card-img img-fluid img-thumbnail h-100 rounded-circle" alt="food"/>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><b>{{ prop.title }}</b></h5>
        <p class="card-text">{{ prop.description }}</p>
        <p class="card-text">{{ prop.content }}</p>
        <p class="card-text">
          <small class="text-muted"> {{ prop.author }} {{prop.date.toDate()}} </small>
        </p>
        <a [routerLink]="['article', prop.id]">Read more...</a>
        <i (click)="deleteItem($event, prop)" class="material-icons float-right">delete</i>
      </div>
    </div>
  </div>
</div>