<header>
  <section class="blog-name">
    <h1>Music awards</h1>
  </section>

  <section class="source-panel">
    <form>
      <select name="blog-source" id="blog-source">
        <option value="all-sources">All sources</option>
        <option value="music">Music awards</option>
        <option value="sports">Sports news</option>
        <option value="travel">Travel news</option>
      </select>

      <div class="filter-field">
        <input
          type="text"
          name="article-search"
          id="article-search"
          placeholder="Type your text..."
        />
        <input type="button" value="Filter" class="filter-button"/>
      </div>

      <input type="button" value="Add article" class="add-article" />
    </form>
  </section>
</header>
