$fontSourcePro: 'Source Sans Pro', sans-serif;
$fontHind: 'Hind', sans-serif;
$fontFresca: 'Fresca', sans-serif;
$logo-text: #fff;
$bg-color-main: #21232E;
$header-heading: #fff;
$header-text: white;
$main-heading: #fff;
$banner-text: white;
$buttonColor: #E3AC00;
$greyish: rgb(202, 218, 224);
$banner: url(../img/m-h-night.jpg);
$footer: #3B3F50;
$cards: #3B3F50;
$overlay-color: #FF4E33;
$gradient: linear-gradient(45deg, rgba(218,158,9,1) 10%, rgba(148,47,81,1) 100%);
$hover-color: rgb(86, 75, 235);