$fontSourcePro: 'Source Sans Pro', sans-serif;
$fontHind: 'Hind', sans-serif;
$fontFresca: 'Fresca', sans-serif;

$buttonColor: #699900;
$greyish: rgb(202, 218, 224);
$banner: url(../img/m-h-day.jpg);

